body {
    background: #f2f2f2;
    /* font-family: 'open_sansregular'; */
    font-size: 14px;
    color: #394044;
    font-family: "Segoe UI" !important;

}
h1{
    font-weight: 300;
}
a, a:hover{
    text-decoration: none !important;
}
.vars{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.var{
    width: 110px;
    margin: 10px;
}

.start-button{
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
}
.headers{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.line{
height: 3px;
    background: #2CA1C0;
    }
.pics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img {
    max-width: 40%;
    object-fit: contain;
    display: block;
}
.content{
    margin-top: 30px;
}

.footer {

  width: 100%;
  text-align: center;

}
.progress {
  background-color: grey;
  height: 10px;
  border-radius: 5px;
}

.progress-bar {
  height: 10px;
  background-color: green;
  border-radius: 5px;
}
.foot {
    display: grid;
    align-items: center;
}
.home__link{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
}
#nextButton{
    height: 60vh;
    display: flex;
    align-items: end;
    justify-content: end;
    color: #fff;
    }

#menu__toggle {
  opacity: 0;

}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1000;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 999;
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
@media (min-width: 820px) {
    .foot {
    grid-template-columns: 20% 70% 10%;
}

.content{
height: 75vh;}
   }