{% extends 'base.html' %}
{% block title %} Speaking {% endblock %}
{% block content %}
<div class="container">
<h1>ЕГЭ по
английскому языку (устная часть) - Вариант {{num}}</h1>
<div class="line"></div>
<div class="start-button">
<a class="btn btn-primary" href="/var{{num}}/task1">Start test</a>
    </div>
    </div>
<script>
    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(function(stream) {
        console.log('You let me use your mic!')
      })
      .catch(function(err) {
        console.log('No mic for you!')
      });
</script>
{% endblock %}