{% extends 'base.html' %}
{% block title %} Task {{task.num}}{% endblock %}
{% block content %}
<div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box">
      <li><a class="menu__item" href="{{ url_for('var', var_num=var.num, task_num=1) }}">Task 1</a></li>
        <li><a class="menu__item" href="{{ url_for('var', var_num=var.num, task_num=2) }}">Task 2</a></li>
		<li><a class="menu__item" href="{{ url_for('var', var_num=var.num, task_num=3) }}">Task 3</a></li>
		<li><a class="menu__item" href="{{ url_for('var', var_num=var.num, task_num=4) }}">Task 4</a></li>
    </ul>
  </div>
<a href="/"><img src="{{ url_for('static', filename='img/icons8-home.svg') }}" class="home__link"></a>
<div class="container headers"><h1>Task <span id="task_num">{{task.num}}</span> <span class="ansTime"></span> </h1>
        </div>
<div class="container line"></div>
<div class="container content">


{% if task.info %}
    <p><b>{{task.info}}</b></p>

{% endif %}

{% if not(task.picture2) and task.picture1 %}
<div class="pics">
<img src="{{ url_for('static', filename=task.picture1) }}" alt="" class="lazyload">
</div>
{% endif %}

{% if task.text %}
    <p>
{% for text in task.text %}

{{text}}<br>

{%endfor%}
    </p>
{% endif %}
{% if task.outro %}
<p>
    <b>{{task.outro}}</b></p>
{% endif %}
{% if task.picture2 and task.picture1 %}
<div class="pics">
<img src="{{ url_for('static', filename=task.picture1) }}" alt="" class="lazyload">
<img src="{{ url_for('static', filename=task.picture2) }}" alt="" class="lazyload">
</div>
{% endif %}
{% if task.audio %}
<audio controls id="audio" preload="metadata">
  <source src="{{ url_for('static', filename=task.audio) }}" type="audio/mpeg">
</audio>
{% endif %}
</div>
{% if task.audio %}
    <div id="nextButton"><a role="button" class="btn btn-primary next_button" onclick="next()">Next task</a></div>
{% endif %}
<div class="footer">
  <div class="container foot">
      <h4 class="prep"></h4>
      <div class="progress">
  <div class="progress-bar"></div>
</div>
    <h4 id="time"></h4>
  </div>

</div>
<script>
    var task_num = {{task.num}};
var var_num = {{var.num}};
var prep = (task_num != 3)? 1 : 0;
var ans_time = 0;
function next() {
   if (task_num < 4)
     window.location.href = "/var" + var_num + "/task" + (task_num + 1);
   else
     window.location.href = "/";
}

function startTimer() {

    document.querySelector(".prep").innerHTML = prep? "Preparation" : "Answer";
    var elem = document.querySelector(".progress-bar");
    navigator.mediaDevices.getUserMedia({ audio: true });
    var width = 0;
    elem.style.width = 0 + "%";
    clearInterval(interval);
    var duration = prep ? {{task.prep_time}}:{{task.answer_time}},
        display = document.querySelector('#time');

    var timer = duration;
        display.innerHTML = formatTime(duration);
    var interval = setInterval(function () {
        if (--timer < 0) {
        clearInterval(interval);
        elem.style.transition = "width 0s";
        width = 0;
        elem.style.width = 0 + "%";

        if (task_num == 2 && ans_time != 4){
                ans_time = ans_time + 1;
            document.querySelector(".ansTime").innerHTML = " - Question " + ans_time;
        }
        if (prep){
            prep = 0;

            startTimer();
        }else{
            if (task_num == 2 && ans_time != 4)
                 startTimer();
            else
                 next();

        }}
        else{
        elem.style.transition = "width 1s ease";
        width += (1 / duration) * 100;
        elem.style.width = width + "%";
        display.innerHTML = formatTime(timer);
        }

    }, 1000);

}
function formatTime(time) {
  if (time < 0)
    return "0:00";
  const minutes = Math.floor(time / 60);
  let seconds = time % 60;
  if (seconds < 10) {
    seconds = `0${seconds}`;
  }
  return `${minutes}:${seconds}`;
}
if (task_num == 3){
    document.querySelector('.footer').style.display = 'none';
    }
startTimer();

</script>
{% endblock %}
